@font-face {
    font-family: 'Bricolage Grotesque 96pt';
    src: url('BricolageGrotesque-96ptExtraBold.woff2') format('woff2'),
        url('BricolageGrotesque-96ptExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url('DMSans-9ptItalic.woff2') format('woff2'),
        url('DMSans-9ptItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url('DMSans-9ptRegular.woff2') format('woff2'),
        url('DMSans-9ptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

