#root {
  width: 120rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.hero-header {
  font-family: "Bricolage Grotesque 96pt", sans-serif;
  font-weight: bold;
  font-size: 5.2rem;
}
@media screen and (max-width: 450px) {
  #root{
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #root{
    width: 90rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  #root{
    width: 120rem;
  }
}

