#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.hero-header {
  font-family: "Bricolage Grotesque 96pt", sans-serif;
  font-weight: bold;
  font-size: 5.2rem;
}


