@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light --prefersdark;
  /* themes: light --default, dark --prefersdark; */
}

@theme {
  --bg-neutral-0: oklch(0, 0%, 100%);
  --bg-neutral-200: oklch(250, 6%, 84%);
  --bg-neutral-300: oklch(240, 6%, 70%);
  --bg-neutral-600: oklch(243, 23%, 30%);
  --bg-neutral-700: oklch(243, 23%, 24%);
  --bg-neutral-800: oklch(243, 27%, 20%);
  --bg-neutral-900: oklch(243, 96%, 9%);

  --breakpoint-xs: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 78rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

}

html {
  font-size: 62.5%;
}

:root {
  font-family: DM Sans, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #02012c; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.info-card {
  background-image: url("./assets/images/bg-today-small.svg");
}

@media screen and (min-width: 768px) {
  .info-card {
    background-image: url("./assets/images/bg-today-large.svg");

  }
}

@utility input{
  @apply border-none focus:outline-none
}

